<body>
This package implements the View of the MVC design pattern which cordinates the graphical user interface of the GameApp
by dividing into
{@link main.dk.dtu.compute.se.pisd.roborally.view.BoardView BoardView},
{@link main.dk.dtu.compute.se.pisd.roborally.view.CardFieldView CardFieldView},
{@link main.dk.dtu.compute.se.pisd.roborally.view.PlayersView PlayersView},
{@link main.dk.dtu.compute.se.pisd.roborally.view.PlayerView PlayerView},
{@link main.dk.dtu.compute.se.pisd.roborally.view.RoboRallyMenuBar RoboRallyMenuBar},
{@link main.dk.dtu.compute.se.pisd.roborally.view.SpaceView SpaceView}
 and an interface as
{@link main.dk.dtu.compute.se.pisd.roborally.view.ViewObserver ViewObserver}.
</body>